{% extends 'base.html' %}
{% block title %}
    {{ super() }} - Valor da Produção (Mil Reais)
{% endblock %}
{% block content %}
    <div class="container-fluid text-center">
        <h1>Valor da Produção (Mil Reais)</h1>
        <h2>No Brasil</h2>
        <table id="pais" class="table table-hover table-bordered table-responsive-lg">
            <caption>Valor da Produção no Brasil<br>Fonte: IBGE - Pesquisa da Pecuária Municipal</caption>
            <thead class="thead-dark">
            <tr>
                <th class="text-center" style="vertical-align: middle" rowspan="2">Pais</th>
                <th class="text-center" colspan="{{ (pais.values()|list)[0].keys()|length }}">Ano</th>
            </tr>
            <tr>
                {% for ano in (pais.values()|list)[0].keys() %}
                    <th class="text-center">{{ ano }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">{{ (pais.keys()|list)[0] }}</td>
                {% for k in pais.values() %}
                    {% for value in k.values() %}
                        <td class="text-center">{{ value }}</td>
                    {% endfor %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
        <canvas id="graficopais"></canvas>
        <br>
        <h2>Nas Grandes Regioes</h2>
        <table id="regiao" class="table table-hover table-bordered table-responsive-lg">
            <caption>Valor da Produção nas Grandes Regiões<br>Fonte: IBGE - Pesquisa da Pecuária Municipal</caption>
            <thead class="thead-dark">
            <tr>
                <th class="text-center" style="vertical-align: middle" rowspan="2">Grande Região</th>
                <th class="text-center" colspan="{{ (regiao.values()|list)[0].keys()|length }}">Ano</th>
            </tr>
            <tr>
                {% for ano in (regiao.values()|list)[0].keys() %}
                    <th class="text-center">{{ ano }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for k, v in regiao.items() %}
                <tr>
                    <td class="text-center">{{ k }}</td>
                    {% for value in v.values() %}
                        <td class="text-center">{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <canvas id="graficoregiao"></canvas>
        <br>
        <h2>Nos Estados da Região Norte e Piauí</h2>
        <table id="estado" class="table table-hover table-bordered table-responsive-lg">
            <caption>Valor da Produção nos Estados<br>Fonte: IBGE - Pesquisa da Pecuária Municipal</caption>
            <thead class="thead-dark">
            <tr>
                <th class="text-center" style="vertical-align: middle" rowspan="2">Unidade da Federação</th>
                <th class="text-center" colspan="{{ (estado.values()|list)[0].keys()|length }}">Ano</th>
            </tr>
            <tr>
                {% for ano in (estado.values()|list)[0].keys() %}
                    <th class="text-center">{{ ano }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for k, v in estado.items() %}
                <tr>
                    <td class="text-center">{{ k }}</td>
                    {% for value in v.values() %}
                        <td class="text-center">{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <canvas id="graficoestado"></canvas>
        <canvas id="graficopiaui"></canvas>
        <br>
        <a href="{{ request.referrer }}">
            <button type="button" class="btn btn-primary btn-block">Voltar</button>
        </a>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        let dynamicColors = function () {
            const r = Math.floor(Math.random() * 255);
            const g = Math.floor(Math.random() * 255);
            const b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
        };

        function build_datasets(json, exclude, only) {
            const datasets = [];
            let labels = Object.keys(json);
            if (exclude === null) {
                if (only && labels[only] !== null) {
                    datasets.push(
                        {
                            label: only,
                            data: Object.values(json[only]),
                            backgroundColor: dynamicColors(),
                            fill: false
                        }
                    )
                }
            } else {
                for (const l in labels) {
                    if (exclude !== null && exclude === labels[l]) {
                        continue;
                    }
                    let dataset = {
                        label: labels[l],
                        data: Object.values(json[labels[l]]),
                        backgroundColor: dynamicColors(),
                        fill: false
                    }
                    datasets.push(dataset);
                }
            }
            console.log(datasets)
            return datasets;
        }

        let pais = JSON.parse('{{ (((pais.values())|list)[0]|tojson) }}');
        let regioes = JSON.parse('{{ regiao|tojson }}');
        let estados = JSON.parse('{{ estado|tojson }}');

        keys = Object.keys(pais);
        producaopais = Object.values(pais);

        let brasil = document.getElementById('graficopais');
        let regiao = document.getElementById('graficoregiao');
        let estado = document.getElementById('graficoestado');
        let piaui = document.getElementById('graficopiaui');

        let chartbrasil = new Chart(brasil, {
            type: 'line',
            data: {
                labels: keys,
                datasets: [
                    {
                        label: 'Brasil',
                        data: producaopais,
                        backgroundColor: dynamicColors(),
                        fill: false
                    }
                ]
            }
        });
        let chartregiao = new Chart(regiao, {
            type: 'line',
            data: {
                labels: keys,
                datasets: build_datasets(regioes)
            }
        });
        let chartestados = new Chart(estado, {
            type: 'line',
            data: {
                labels: keys,
                datasets: build_datasets(estados, "Piauí")
            }
        });
        let chartpiaui = new Chart(piaui, {
            type: 'line',
            data: {
                labels: keys,
                datasets: build_datasets(estados, null, "Piauí")
            }
        });
    </script>
{% endblock %}